<!DOCTYPE html>
<html lang="pt" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Monitorador</title>
</head>
<body>
    <wicket:extend>
        <wicket:link>
            <div class="d-grid gap-2 col-2 mx-auto">
                <a class="btn btn-primary" type="button" href="CadastroPessoaFisica.html">Pessoa Física</a>
                <a class="btn btn-primary" type="button" href="CadastroPessoaJuridica.html">Pessoa Jurídica</a>
            </div>
        </wicket:link>

        <wicket:child/>
    </wicket:extend>
</body>
</html>