body{
    background-color: #77777777
}

h1{
    color: black;
}

.teste{
    background-color: black;
}

.feedback-popup{
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width : 800px;
    z-index: 999999; /* Coloquei esse numero grande para que fique acima dos Modals */
}

/*TODO tentar usar o jQuery para adcionar classes do bootstrap aqui*/
#pageNavigation a:link{
    background-color: #0d6efd;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: bold;
}

#pageNavigation a:link:hover{
    background-color: #0c4db6;
}

#pageNavigation a{
    color: black;
    text-align: center;
    text-decoration: none;
}