body{
    background-color: #777777;
}

h1{
    color: black;
}

.teste{
    background-color: black;
}

#pageNavigation a:link{
    background-color: #0d6efd;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 8px;
    font-weight: bold;
}

#pageNavigation a:link:hover{
    background-color: #0c4db6;
}

#pageNavigation a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.side-bar{
    height: 100vh;
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    overflow-y: auto;
}

.feedback-popup{
    position: absolute;
    top: 35px;
    left: 90%;
    transform: translateX(-90%);
    width: 50%;
    max-width: 600px;
    z-index: 999999; /* Coloquei esse numero grande para que fique acima dos Modals */
}

.table-arredondar{
    border-radius: 6px;
    overflow: hidden;
}